# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Prototipado.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Utiles y Programas\1.Unity\Project BackUp\Prototipado\.idea\.idea.Prototipado\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
