# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Archer_Vampire.iml
# Datasource local storage ignored files
/../../../../../../../../:\Utiles y Programas\1.Unity\Project BackUp\Archer_Vampire\.idea\.idea.Archer_Vampire\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
