# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.05_QuickClick.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Utiles y Programas\1.Unity\05_QuickClick\.idea\.idea.05_QuickClick\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
