# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.04_Balls.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Utiles y Programas\1.Unity\Project BackUp\04_Balls\.idea\.idea.04_Balls\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
